{% extends "base_generic.html" %}

{% block content %}
<h2>Пиццерия</h2>

  <p><em>Здравствуйте!</em></p>
  Добро пожаловать в нашу уютную пиццерию, где каждый кусочек пиццы – это настоящее произведение искусства!<br>Мы гордимся своими традиционными рецептами, которые передаются из поколения в поколение, делая каждую нашу пиццу уникальной и неповторимой.<br>
  Наша тонкое и хрустящее тесто, сочные и натуральные ингредиенты, несравненные соусы – все это делает наши пиццы настоящими шедеврами кулинарного искусства.<br>Мы уделяем внимание каждой детали, чтобы каждый гость мог насладиться идеальным вкусом и неповторимыми ароматами.<br>
  В нашем меню вы найдете разнообразные виды пиццы – от классической маргариты до авторских изысков с необычными сочетаниями вкусов. Мы гарантируем, что каждая пицца будет приготовлена с любовью и заботой, чтобы подарить вам настоящее кулинарное удовольствие.<br>
  Посетите нашу пиццерию и погрузитесь в атмосферу итальянской гостеприимности, насладитесь драгоценным моментом вкуса и наслаждения, который мы готовы подарить вам.<br>Приходите к нам с друзьями, семьей или на свидание – у нас всегда найдется место для каждого гостя.
  <p></p>
  <b><em>Мы ждем вас в нашей пиццерии, чтобы подарить вам волшебный вкус и атмосферу уюта!</b></em>
  <p>У нас также работает бесплатная доставка по всему городу! Номер для заказа : <em>+375(33)999-99-99</em></p>
{% endblock %}